# Configuration goes here in YAML
# These can be called in code with CONFIG[:key]
URL: "lab-namespace.rhcloud.com" # Only required if NOT running on openshift
admin_email: "tiwillia@redhat.com"
rhsm_username: "rhn_username"
rhsm_password: "password"
rhsm_pool_id: "8a85f983de1434a1013b3ccdf9f302e6"
types:
  - "broker"
  - "node"
  - "activemq"
  - "datastore"
  - "named"
